<div class="row action-container">
    <div class="col-l4 offset-l4 col-m8 offset-m2 col-s12 action-bar">
	  <span>Serach By</span>
	    <ul>
	      <li class="action-item" ng-click="actionBarOption()"><i class="icon-img icon ion-heart"></i>Number</li>
		  <li class="action-item" ng-click="actionBarOption()"><i class="icon-img icon ion-bookmark"></i>#tag</li>
		  <li class="action-item" ng-click="actionBarOption()"><i class="icon-img icon ion-location"></i>Shop</li>
	    </ul>
	</div>
  </div>