<div class="row header">
	  <div class="col-l3 col-m13 col-s3" style="padding-bottom: 10px;">
	    <span class="float-left medium-large-logo">
		  Logo Large
		</span>
		<span class="float-left small-logo">
		  Logo S
		</span>
	  </div>
	  <div class="col-l6 col-m6 col-s6 search-box-head" style="text-align: ;"> 
		    <span class="search-desktop">
			   <search-box></search-box>
			</span>
	    </div>
	  <div class="col-l3 col-m3 col-s3 float-right" style="padding: 9px 19px;">
	    <span class="float-right" ng-click="openMenu()" style="font-size:2em;cursor:pointer">
		  <i class="icon ion-grid"></i>
		</span>
		<span class="float-right" style="margin-right:10px;cursor:pointer;" ng-click="openLoginBox()">Login</span>
	  </div>
	</div>
