<style>


 .login-container{
    width:100%;
	margin:0 auto;
    margin-top: 38px;	
	height:300px;
	border-radius:5px;
	position:fixed;
	top:0;
	left:0;
	z-index:1033;
	display:none;
  }
  .login-active{
    display:block;
  }
  .login-container .close{
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 1.3em;
	cursor:pointer;
  }
  .login-container .left, .right, .center{
     padding:0;
	 position:relative;
  }
 
  .login-container .right .head{
    text-align: center; 
    font-size: 1em;
    padding: 23px;
    padding: top;
    padding-top: 32px;
    padding-bottom: 4px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .login-container .left .login-btn{
     background: #fd6649;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    padding: 14px;
	position:relative;
	border-radius:3px;
	border:none;
  }
  
  .login-container .left .login-btn i {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2px;
    left: -20px;
    font-size: 2em;
    color: #fff;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.login-container .left .login-btn span {
    display: block;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif; 
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-backface-visibility: hidden;
}

.login-container .left .login-btn:focus {
    outline: none;
}

.login-container .left .login-btn:hover span,
.login-container .left .login-btn:focus span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform:translateX(-20px);
    -ms-transform:translateX(-20px);
    -o-transform:translateX(-20px);
    transform: translateX(-20px);
}

.login-container .left .login-btn:hover i,
.login-container .left .login-btn:focus i {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    left: 0;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.login-container .left .login-btn:active span,
.login-container .left .login-btn:active i {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; 
}

.login-container .left .login-btn:active span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.login-container .left .login-btn:active i {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    left: 0;
    color: #fff;
}

  
  
  
  
  .login-container .center span {
    position: absolute;
    left: 50%;
    font-size: 1.3em; 
  }
  .login-container .logo{
    text-align:center;
	color:#fd6649;
	font-size:1.5em;
  }
  .login-container .social-login{
     padding:6px;
    font-size:2.5em;
	color:red;
	text-align:center;
	background:rgba(236, 233, 233, 0.3);
	cursor:pointer;
	border-radius:3px;
  }
  .login-container .social-login:hover{
    background:#ece9e9;
  }
  .login-container .social-login.f{
    //color:#4867aa;
	 color:#fff;
	background:#4867aa;
  }
  .login-container .social-login.f:hover{
    color:#fff;
	background:#4867aa;
  }
  .login-container .social-login.g{
    //color:#ea4335;
	color:#fff;
    background:#ea4335;
	margin-top:20px;
  }
  .login-container .social-login.g:hover{
    color:#fff;
    background:#ea4335;
  }



.form-5 {
	//width:60%;
    margin: 0 auto;
    position: relative;

}
.form-5 a{
 text-decoration:none;
}
.form-5 a.forgot-password{
  color:#b3b3b3;
  text-decoration:none
  padding-left:10px;

}
.form-5 a:focus{
  outline:none;
  border-bottom:1px solid #b3b3b3;
}
.form-5 a:focus span.forgot-password{
  color:blue;
  outline:none;
}

.form-5.clearfix input[type=text]:nth-child(2){
  margin-top:20px;
}
.form-5 input[type=text] {
    width: 100%;
    height: 50px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ece9e9;
    background: white;
    text-indent: 10px;
    color:black;
    font-size: 1.3em;       
}
.form-5 input[type=text]:hover,
.form-5 input[type=text]:focus{
    background: #f7def7;
    background: rgba(255,255,255,0.4);
    outline: none;
}



@media only screen and (min-width:601px){
  .login-container .center span{
    position: absolute;
    left: -8px;
    top: 127px;
    font-size: 1em;
  }
   .login-container{
    margin-top: 100px;	
  }
   .login-container .right .head{
    text-align: right;
    font-size: 1em;
    padding: 23px;
  }
}

@media only screen and (min-width:993px){
 .login-container .center span{
    left:-10px;
	top: 127px;
    font-size: 1.3em;
  }
 .login-container{
    margin-top: 100px;	
  }
   .login-container .right .head{
    text-align: right;
    font-size: 1em;
    padding: 23px;
  }
}
@media only screen and (min-width:1400px){

.login-container .center span{
    left: -10px;
	top: 127px;
    font-size: 1.5em;
  }
  .login-container{
    margin-top: 100px;	
  }
 .login-container .right .head{
    text-align: right;
    font-size: 1em;
    padding: 23px;
  }
}


/* ----------- iPhone 4 and 4S ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}



/* ----------- iPhone 6 ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
   .login-container{
	   margin-top: 76px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
   .login-container{
       position:absolute!important;
	   margin-top: 26px;
    }
}

/* ----------- iPhone 5 and 5S ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
   .login-container{
	   margin-top: 26px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: landscape) {
   login-container{
      position:absolute!important;
	   margin-top: 6px;
    }
}

/* ----------- iPhone 6+ ----------- */



/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  .login-container{
	   margin-top: 106px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .login-container{
	   margin-top: 26px;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
   .login-container{
	   margin-top: 56px;
    }
}

/* Landscape */
/* Not working */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- HTC One ----------- */
/* Need to test on phn*/
/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- iPad mini ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
   .login-container{
	   margin-top: 306px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .login-container{
	   margin-top: 256px;
    }

}
/* -----------  Nexus 5X ----------- */


/* Portrait */
@media screen 
  and (device-width: 412px) 
  and (device-height: 732px) 
  and (orientation: portrait) {
   .login-container{
	   margin-top: 66px;
    }
}

/* Landscape */
@media screen 
  and (device-width: 732px) 
  and (device-height: 412px) 
  and (orientation: landscape) {
   .login-container{
	   margin-top: 26px;
    }
}

/* ----------- Non-Retina Screens ----------- */
@media only screen and (min-width:1400px){

}
@media screen 
  and (min-device-width: 1200px) 
 { 

  @media screen 
  and (max-width: 603px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
   
}
  @media screen 
  and (min-width: 603px) and (max-width:993px)
  and (-webkit-min-device-pixel-ratio: 1) { 
 
}
  @media screen 
  and (min-width: 993px) and (max-width:1200px)
{ 

}
}
</style>


  <div class="row login-container" ng-class="{'login-active':loginActive}">
    <div class="col-l8 offset-l2 col-m8 offset-m2 col-s12">
	  <div class="row" style="background:#fff;border-radius:3px;position:relative">
	  
	  <div class="col-l6 col-m6 col-s12 left">
	    <div class="row">
		   <div class="col-l12 col-m12 col-s12 logo">
	         Logo
	       </div>
		   <div class="col-l11 offset-l1 col-m11 offset-m1 col-s12">
	         <form class="form-5 clearfix">
				<input type="text" name="name" ng-model="loginData.username" placeholder="Name">
				<input type="text" name="email" ng-model="loginData.email" placeholder="Email"> 
                <a href="#" class="forgot-password">Forgot Password?</a>
		   </form>​​​​
		   <button class="col-l12 col-m12 col-s12 login-btn">
		     <i class="icon ion-arrow-right-c"></i>
				<span>Login</span>
		   </button>
	     </div>
		</div>
	  </div>
	  <div class="col-l1 col-m1 col-s12 center">
	     <span>or</span>
	  </div>
	  <div class="col-l6 col-m6 col-s12 right">
	    <div class="row">
		   <div class="col-l11 col-m11 col-s12 head">
	          <span class="sign-up">Don't have account? Sign up!</span>
	       </div>
		   <div class="col-l11 col-m11 col-s12">
		     <div class="social-login f">
	            <i class="icon ion-social-facebook"></i>
	         </div>
		     <div class="social-login g">
		        <i class="icon ion-social-google"></i>
	         </div>
		  </div>
		</div>
	  </div>
	    
		
		
		 <span class="close" ng-click="closeLoginBox()"><i class="icon ion-close-round"></i><span>
         
         
		
	  </div>
	</div>
 </div>
