
<div class="row view-container" style="background:#fff;display:">
	    <a  ng-click="toggleFun()" class="back-btn" style="color:#531eaa; cursor:pointer;"><i class="icon ion-log-in"></i> <span class="btn-text">Back</span></a>
	    <div class="col-l12 col-m12 col-s12 view-title">
	      Preview #1234
	    </div>
		    <div class="col-l6 col-m6 col-s12 public-private">
			  <div class="public" ng-class="{'active':dataFromServer.public}">
			    <span class="icon-box">
			      <i class="icon ion-android-globe"></i>
			    </span>
			    <strong>Public</strong>
			 </div>
			</div>
			<div class="col-l6 col-m6 col-s12 public-private">
			  <div class="private" ng-class="{'active':!dataFromServer.public}">
			    <span class="icon-box">
			      <i class="icon ion-android-lock"></i>
			    </span>
			    <strong>Private</strong>
			 </div>
			</div>
			<div class="col-l6 col-m6 col-s12">
			  <div class="row mwp-tabs">
			    <div class="col-l4 col-m4 col-s4 mwp-tab" ng-repeat="tab in mwpTabs track by $index" ng-class="{'active':tab.active}" ng-click="toogleActiveMwpTab(tab)">
				  {{tab.tabname}}
				</div>
				<div class="col-l12 col-m12 col-s12 mwp-tab-info" >
				   
				    <div class="row" ng-repeat="(key,val) in activeTab track by $index" ng-if="key!='tabname' && key!='active'"> 
				     <div class="col-l3 col-m5 col-s5 mwp-info-heading">{{key}}</div>
					 <div class="col-l9 col-m7 col-s7" ng-if="key!='Description'">{{val}}</div>
					 <div class="col-l9 col-m7 col-s7 desktop" ng-if="key=='Description'">{{val}}</div>
					 <div class="col-l9 col-m12 col-s12 mobile" ng-if="key=='Description'">{{val}}</div>
					</div>
				   
				</div>
			  </div>
			</div>
			<div class="col-l6 col-m6 col-s12">
			  <div class="mpw-img">
			    
				<!--<direction-map origin="Gurgaon+Haryana,India" destination="Panipat+Haryana,India"></direction-map>-->
  {{addr}}
               <direction-map addr="data.mapAddress"></direction-map>
			  </div>
			</div>
	  </div>
	  